# Core Apps/Libraries
django>=1.6.5,<1.7.0
south==0.8.4
hadrian==1.1.5
django-frontend>=1.2.0,<2.0.0
python-memcached==1.48

# Debugging
django-debug-toolbar==0.9.4
django-extensions==1.3.2
Werkzeug==0.9.4

# Development Tools
django-dev-email==1.0.1

# Mail
django-mail-queue==2.1.0

# Async Task Queuing
celery==3.1.1
django-celery==3.1.1
django-kombu==0.9.4

# Search
django-haystack==1.2.7
whoosh==2.5.6

# Testing
factory_boy==1.1.3
selenium==2.29.0
nose==1.3.0
mock==1.0.1
django-nose==1.2
coverage==3.7.1
pylint==1.1.0
pep8==1.4.6

# Other helpful but not always needed apps
fabric==1.8.1
sphinx==1.2

# Forms
django-chosen==0.1
django-crispy-forms==1.4.0

# Image manipulation
pillow==2.3.0
PIL
sorl-thumbnail==11.12
easy-thumbnails==1.4

# APIs
djangorestframework==2.3.12


# Libraries
requests==2.2.0
markdown==2.3.1
django_compressor==1.3
commonware==0.4.2

# Class Extensions/Helpers
django-infuse==0.3
django-braces==1.3.1

# Monitoring
django-ping==0.2
newrelic==2.10.0.8

# Settings Control
django-constance==0.6

# Comments
django-disqus==0.4.1


pip-tools
